
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-submit="passwordreset()">
			<fieldset>
				<h2>Password reset</h2>
				<center><div ng-show="loginuser"><img src="../../image/ajax-loaders.gif"></div></center>
				<div class="alert alert-danger" role="alert" ng-show="validateerror">Please Check your input fields</div>
				<div class="alert alert-danger" role="alert" ng-show="wrongentry">Invalid credentials,Please check your email and password</div>
				<hr class="colorgraph">
				<div class="form-group">
				<label for="email">Enter your Email</label>
				 <input type="text" name="email" id="emails" class="form-control input-lg" placeholder="Email" ng-model="formData.emails" required="true">
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
					  <button type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					  Submit
					  </button>
					</div>
					
				</div>
			</fieldset>
		</form>
	</div>

</div>
