<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-submit="login()">
			<fieldset>
				<h2>Please Sign In</h2>
				<center><div ng-show="loginuser"><img src="../../image/ajax-loaders.gif"></div></center>
				<div class="alert alert-danger" role="alert" ng-show="validateerror">Please Check your input fields</div>
				<div class="alert alert-danger" role="alert" ng-show="wrongentry">Invalid credentials,Please check your email and password</div>
				<hr class="colorgraph">
				<div class="form-group">
				 <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email" ng-model="formData.email" required="true">
				</div>
				<div class="form-group">
				<input type="password" name="password" id="password" class="form-control input-lg" placeholder="password" ng-model="formData.password"required="true">
				</div>
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="">
					<a ui-sref= "forgotpassword" href="" class="btn btn-link pull-right">Forgot Password?</a>

				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
					  <button type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					    <span class="glyphicon glyphicon-flash"></span> Login
					  </button>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a ui-sref="register" href="" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</div>
