<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-submit="signup()">
			<h2>Please Sign Up <small>It's free and always will be.</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="alert alert-success " role="alert" ng-show="usersuccess" ><img src="../../image/ajax-loader.gif" class="imageloader">&nbsp;&nbsp;Account created succesfull..redirecting to login in 3 minutes</div>
			    <div ng-show="erroremail" class="alert alert-danger" role="alert">Email is already taken Please use another email</div> 
			    <div ng-show="validationerror" class="alert alert-danger" role="alert">Check your form inputs and Make sure your password matches</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="firstname" id="firstname" class="form-control input-lg" placeholder="First Name" tabindex="1"  ng-model="formData.firstname" required="true">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="lastname" id="lastname" class="form-control input-lg" placeholder="Last Name" tabindex="2"  ng-model="formData.lastname" required="true">
					</div>
				</div>
			</div>
		
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4"  ng-model="formData.email" required="true">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5"  ng-model="formData.password" required="true">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="passwordconfirmation" id="passwordconfirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6"  ng-model="formData.passwordconfirmation" required="true">
					</div>
				</div>
			</div>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
				<div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
			</div>
		</form>
	</div>
</div>
